<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhelihenku.here.rest.modular.system.dao.SystemRoleMenuRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhelihenku.here.rest.modular.system.model.SystemRoleMenuRelation">
        <id column="id" property="id" />
        <result column="menu_id" property="menuId" />
        <result column="role_id" property="roleId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_id, role_id, create_time
    </sql>

    <insert id="insertRoleMenuRelation" parameterType="map">
        insert into tb_system_role_menu_relation
        (role_id, menu_id)
        value
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{roleId}, #{menuId})
        </foreach>
    </insert>

</mapper>
